<!--<table width="100%" class="tableSorter">-->
<!-- <tr>-->
<!-- 	<th width="32">Year</th>-->
<!-- 	<th width="220">Film</th>-->

<!-- </tr>-->
 
<!-- <tr>-->
<!-- 	<td>1977</td>-->
<!-- 	<td>Annie Hall</td>-->
<!-- </tr>-->

<!-- <tr>-->
<!-- 	<td>1987</td>-->
<!-- 	<td>aaa</td>-->
<!-- </tr>-->
 
<!--  <tr>-->
<!-- 	<td>1993</td>-->
<!-- 	<td>ccc</td>-->
<!-- </tr>-->
 
<!--</table>-->



<script type="text/javascript">
$(document).ready(function() {

$('table').tableSort( {
animation :'slide',
speed:500
} );
});
</script>


<hr>

<table width="100%" class="tableSorter busan">
 <tr>
 	<th width="32">Rank</th>
 	<th width="220">Name</th>

 </tr>
 
 <tr>
 	<td>3</td>
 	<td>동국대학교</td>
 </tr>

 <tr>
 	<td>5</td>
 	<td>연세대학교</td>
 </tr>
 
 <tr>
 	<td>2</td>
 	<td>서강대학교</td>
 </tr>
 
 <tr>
 	<td>1</td>
 	<td>ㅇㅇ대학교</td>
 </tr>
 <tr>
 	<td>8</td>
 	<td>ㄴㄴ대학교</td>
 </tr>
</table>


<button id="sort">변해랏!!</button>

<hr>


<!-- 라이브리 시티 설치 코드 -->
<div id="lv-container" data-id="city" data-uid="MTAyMC8yOTIyOC81Nzk1">
	<script type="text/javascript">
   (function(d, s) {
       var j, e = d.getElementsByTagName(s)[0];

       if (typeof LivereTower === 'function') { return; }

       j = d.createElement(s);
       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
       j.async = true;

       e.parentNode.insertBefore(j, e);
   })(document, 'script');
	</script>
<noscript> 라이브리 댓글 작성을 위해 JavaScript를 활성화 해주세요</noscript>
</div>
<!-- 시티 설치 코드 끝 -->